import requests

url = "https://pro-api.coinmarketcap.com/v1/cryptocurrency/quotes/latest"
parameters = {
    "symbol": "BTC,ETH,BNB,XRP,ADA,SOL,FTM",
    "convert": "USD"
}
headers = {
    "Accepts": "application/json",
    "X-CMC_PRO_API_KEY": "get on  coinmarketcap.com/api/"
}

response = requests.get(url, params=parameters, headers=headers)

if response.status_code == 200:
    data = response.json()
    for symbol, info in data["data"].items():
        print(f"{symbol}:")
        print(f"Price: {info['quote']['USD']['price']:.2f}")
        print(f"24h Change: {info['quote']['USD']['percent_change_24h']:.2f}%")
else:
    print("An error occurred while fetching data.")
